<ul class="devouredBlock">
	{{burger_name}}


	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</ul>

	{{!-- <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devoure It!{{/if}}
	</button> --}}
